<section class="jumbotron vcodes">
    <center>
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
        <br>
        <img  draggable="false" style="z-index: 1!important; width: 160px; position: relative;" class="imagef" src="/img/caramelo.png" width="320" alt="Caramelo - HOSTING">
        <br>
        <h1 class="has-text-white title" style="font-weight: 800;">Caramelo Hosting Service</h1>
        <br>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;">Caramelo Hosting Free Forever</p>
        <br><br>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;" id="typeText">Text You Back</p>
      </div>
    </div>
    <br>
    </center>
</section>